@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(248, 131, 53, 0.877);
    font-family: "Roboto Condensed", sans-serif;
}

.recipe-body {
    padding: 10px 30px;
    font-size: 1.5rem;
}

figure {
    text-align: center;
    margin: 10px auto;
    background-color: rgb(245, 173, 106);
    padding: 10px 0;
}
figure img{
    padding-bottom: 10px;
}

.recipe-body p {
    font-size: 1.2rem;
}

.recipe-body li {
    margin: 8px 0;
}


.follow {
    margin-top: 40px;
    margin-left: 40px ;
}

.recipe-body a {
    
    font-size: 1.3rem;
}

.footer {
    text-align: center;
    padding-bottom: 15px;
}

.content {
    width: 600px;
    margin: 80px auto;
    background-color: rgb(233, 123, 71);
    text-align: center;
}

.steps {
    margin-top: 40px ;
}

.recipe-body h2 {
    text-decoration: underline;
}

h1 {
    font-size: 45px;
    margin: 40px;
    text-decoration: underline;
    background-color: rgb(255, 180, 118);
    padding: 15px 10px;
    font-weight: 700;
}

h2 {
    font-weight: 500;
    margin-bottom: 8px;
}

.content ul {
    list-style-type: none;
}

.content li {
    padding: 5px;
}

.content a, .home {
    text-decoration: none;
    color: rgb(71, 68, 68);
    padding: 8px 10px;
}

.content a:hover, .home:hover {
    background-color: rgb(107, 95, 95);
    color: bisque
}

.content-list {
    font-size: 25px;
    padding: 40px;
}

hr { 
    margin: 40px 0;
}



